<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Jared Beck’s Bundle</string>
	<key>ordering</key>
	<array>
		<string>DEC198A4-FB7E-4990-A3F1-88447262B435</string>
	</array>
	<key>uuid</key>
	<string>8BAD38D7-2EB1-49EF-B3E1-3C114E59AD87</string>
</dict>
</plist>
